.ablocks-block--container {
	box-sizing: border-box !important;
	padding: var(--ablocks-container-padding);
}
a.ablocks-block--container{
text-decoration: none;
display: block;
}
.ablocks-block--container.ablocks-has-block-container > .ablocks-block-container {
	width: 100%;
}
:not(.ablocks-block--container--is-root).ablocks-block--container {
	max-width: min(100%, 100%);
	width: 100%;
}
:not(.block-editor-block-list__block).ablocks-block--container > .ablocks-block-container {
	/* display: flex; */
}
.ablocks-is-fse-theme .is-layout-constrained .ablocks-block--container--is-root:not(.alignfull) {
	margin-left: calc(var(--wp--style--root--padding-left) * -1) !important;
	margin-right: calc(var(--wp--style--root--padding-right) * -1) !important;
	max-width: 100vw;
}

.ablocks-is-classic-theme .ablocks-block--container--is-root:not(.alignfull) {
	margin-left: calc(-50vw + 50%) !important;
	margin-right: calc(-50vw + 50%) !important;
	max-width: 100vw;
	width: 100vw;
}

/* container shape styles */
.ablocks-container-shape {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	pointer-events: none;
}

.ablocks-container-shape-top {
	top: -9px;
	transform: rotate(360deg);
}

.ablocks-container-shape-bottom {
	bottom: -9px;
	transform: rotate(180deg);
}

.ablocks-container-shape-fill {
	transform-origin: center;
	transform: rotateY(0deg);
}

.ablocks-block-container > .ablocks-container-shape-bottom,
.ablocks-block-container > .ablocks-container-shape-top {
	width: 100% !important;
}
.ablocks-container-shape-bottom > svg,
.ablocks-container-shape-top > svg {
	width: 100%;
}