.ablocks-block-container .storeengine-continue-shopping-shortcode {
    width: 100%;
    display: flex;
}

.storeengine-single__amount {
    display: flex;
}

.storeengine-add-to-cart-shortcode {
    display: flex;
    flex-direction: column;
}