.ablocks-block--search-form {
  margin: 0;

}
.ablocks-block--search-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.ablocks-block--search-form{
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.ablocks-block--search-bar.minimal .ablocks-block--search-form{
  gap: 0px !important;
}
.ablocks-block--search-form.both{
  gap: 16px;
}
.ablocks-block--search-form.text{
  gap: 16px;
}

.ablocks-block--search-input {
  width: 100%;
  font-size: 16px;
  /* border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 0px !important; */
  margin: 0;
  border: 1px solid #DDDDDF;
  outline: none;
  height: 46px !important;
  padding: 15px 20px;
  box-sizing: border-box;
}
.searchbar-input-open{
  width: 100% !important;
  opacity: 1 !important;
}
input[type="text"].ablocks-block--search-input-collapse{
  width: 0%;
  opacity: 0;
  transition: width 0.4s cubic-bezier(0.4,0,0.2,1), opacity 0.3s;
}

.ablocks-block--search-input.both{
  border-radius: 8px !important;
}
.ablocks-block--search-input.text{
  border-radius: 8px !important;
}
.ablocks-block--search-bar.minimal .ablocks-block--search-input.searchbar-input-left{
  border: 1px solid #DDDDDF;
  border-radius: 0 30px 30px 0 !important;
}
.ablocks-block--search-bar.minimal .ablocks-block--search-input.searchbar-input-right{
  border: 1px solid #DDDDDF;
  border-radius: 30px 0 0 30px  !important;
}

.ablocks-block--search-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px 20px;
  background-color: #13191B;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  /* border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 0px; */
  height: 46px;
}
.ablocks-block--search-button .loading-spinner {
  display: none;
  text-align: center;
}
.ablocks-block--search-button.both{
  border-radius: 8px;
}
.ablocks-block--search-button.text{
  border-radius: 8px;
  padding: 15px 22px;
}
.ablocks-block--search-bar.minimal .ablocks-block--search-button.searchbar-submit-left {
  border-radius: 30px 0 0 30px;
}
.ablocks-block--search-bar.minimal .ablocks-block--search-button.searchbar-submit-right {
  border-radius: 0 30px 30px 0;
}
.ablocks-block--search-bar.minimal .ablocks-block--search-button.both {
  padding:15px 14px;
}

.ablocks-block--search-button:hover {
  background-color: #218838;
}

.ablocks-block--search-button > span > svg{
  width: 16px;
}

.ablocks-block--search-button span.button-content {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  line-height: 14px;
}
.ablocks-block--search-button .ablocks-button__text{
  line-height: 14px;
}



.ablocks-block--search-empty-result {
  display: none !important;
}

p.ablocks-block--search-result__list-no-data {
  padding: 10px;
  margin: 0px;
}

.ablocks-block--search-result {
  width: 100%;
  position: absolute;
  display: flex;
  top: 100%;
  margin-top: 10px;
  left: 0;
  z-index: 1000;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  list-style: none;
  padding: 0;
  flex-direction: column;
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.ablocks-block--search-result .ablocks-block--search-result__list {
  display: flex;
  align-items: center;
  margin: 5px 10px ;
  transition: background 0.3s ease;
  cursor: pointer;
  gap: 24px;
  padding: 9px;
}
.ablocks-block--search-result .ablocks-block--search-result__list a{
  display: flex;
  align-items: center;
}

.ablocks-block--search-result .ablocks-block--search-result__list:hover {
  background: #F5F5F5;
  padding: 9px;
  border-radius: 8px
}

.ablocks-block--search-result__list .ablocks-block--search-result__list-title {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  text-decoration: none;
}

@keyframes aBlocksSpin {
  to {
    transform: rotate(360deg);
  }
}

.ablocks-search-block__spin {
  transform-origin: center;
  animation: aBlocksSpin 2s linear infinite;
}