
.ablocks-block--filterable-cards .filterable-cards_filter {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  cursor: pointer;
}

.ablocks-block--filterable-cards .filterable-cards_filter li {
  list-style-type: none;
}

.ablocks-block--filterable-cards .filterable-cards_filter .filterable-filter-button {
  text-decoration: none;
  padding: 0px 32px;
  margin-bottom: 10px;
}

.ablocks-block--filterable-cards .filterable-filter-button-active {
  color: #fff;
  border-radius: 5px;
}
.ablocks-block--filterable-cards .ablocks-block--filterable-cards-item{
  display: none;
}
.ablocks-block--filterable-cards .filterable-cards-filter-wrap {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 8px;
}

.ablocks-block--filterable-cards .filterable-cards-filter-wrap .filterable-cards_filter {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
}

.ablocks-block--filterable-cards .filterable-cards-filter-wrap .filterable-cards_filter .filterable-search-toggle-btn {
  display: flex;
  width: 160px;
  padding: 6px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #DDD;
  margin: -4px;

}

.ablocks-block--filterable-cards .filterable-search-toggle-btn .filterable-search-select{
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.ablocks-block--filterable-cards .filterable-cards-filter-wrap .filterable-cards_filter-list-dropdown {
  display: none;
  position: absolute;
  top: 37px;
  left: 0;
  flex-direction: column;
  width: 100%;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.ablocks-block--filterable-cards .filterable-searchInput {
  display: flex;
  width: 300px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #DDD;
  line-height: normal;
}
.ablocks-block--filterable-cards .filterable-cards-wrap {
  margin-top: 20px;

}

.ablocks-block--filterable-cards .filterable-cards-load-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  cursor: pointer;
}

.ablocks-block--filterable-cards .filterable-cards-showMore-button {
  display: flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #13191B;
  visibility: hidden;
}

.ablocks-block--filterable-cards .ablocks-block-container>.block-editor-inner-blocks>.block-editor-block-list__layout {
  display: inline;
}

.ablocks-filtrable-card-add-button {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  background-color: #13191B;
  width: fit-content;
  border-radius: 8px;
  padding: 8px 20px 8px 20px;
  border: 0;
  margin-top: 16px;
}

.ablocks-filtrable-card-add-button span {
  margin-right: 8px;
}

.ablocks-filtrable-card-add-button .ablocks-icon--plus::before {
  color: white !important;
}
.ablocks-block--filterable-cards .filterable-search-item-not-found-text{
 text-align: center;
  color: #858e9a;
  border-radius: 0px;
  font-size: 16px;
  margin: 20px 0;
  display: none;
}
/* animation  */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(70px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }

  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.ablocks-block--filterable-cards-item.fade-in {
  animation: fadeIn var(--animation-duration) ease-in-out forwards;
}

.ablocks-block--filterable-cards-item.slide-up {
  animation: slideUp var(--animation-duration) ease-in-out forwards;
}

.ablocks-block--filterable-cards-item.zoom-in {
  animation: zoomIn var(--animation-duration) ease-in-out forwards;
}

.ablocks-block--filterable-cards-item.rotate {
  animation: rotate var(--animation-duration) ease-in-out forwards;
}

.ablocks-block--filterable-cards-item.slide-in-left {
  animation: slideInLeft var(--animation-duration) ease-in-out forwards;
}

.ablocks-block--filterable-cards-item.slide-in-right {
  animation: slideInRight var(--animation-duration) ease-in-out forwards;
}
