.ablocks-react-select-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;

	.ablocks-react-select {
		min-width: 0;
		.ablocks-react-select-control {
			width: 130px;
			min-height: 30px !important;
			max-height: 30px;
			height: 30px;
			border-radius: 6px;
			border: 1px !important;
			box-shadow: 0 0 0 1px #e1e1e1 !important;

			&:hover {
				border-color: #e1e1e1;
				box-shadow: 0 0 0 1px #e1e1e1;
			}

			.ablocks-react-select-indicator-separator {
				display: none;
			}

			.ablocks-react-select-value-container {
				padding: 0 8px;
				height: 30px;

				.ablocks-react-select-placeholder {
					height: 30px;
					font-size: 12px;
					display: flex;
					align-items: center;
				}

				.ablocks-react-select-input {
					margin: 0;
					padding: 0;

					input {
						opacity: 0;
						caret-color: transparent;
						outline: none;
						box-shadow: none;
					}
				}
			}

			.ablocks-react-select-dropdown-indicator {
				height: 30px;

				svg {
					height: 16px;
					width: 16px;
				}
			}
		}
		.ablocks-react-select-option {
			border-radius: 5px;
			padding: 3px 12px;
			&.focused {
				background-color: rgb(230, 230, 230) !important;
			}
			&.selected {
				background-color: #13191B !important;
			}
		}

	}
}