.ablocks-block-help-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background: #f4f4f5;
    border-top: 1px solid #e0e0e0;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border: 1px solid #DDDDDF;
        border-radius: 6px;
        padding: 8px 12px;
        text-decoration: none;
        background-color: #ffffff;
        color: #000000;

        &:hover {
            background-color: #DDDDDF; 
        }

        &:focus {
            box-shadow: none;
        }
    }

}